<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="row">
                        <span class="title pad-left-right">Contacts</span>
                      </div>
                      <div class="row">
                        <div class="input-group pull-left pad-left-right col-xs-7">
                          <input type="text" name="searchBox" 
                          #searchBox placeholder="Search Contacts" 
                          (keyup)="search(searchBox.value)"
                          class="form-control">
                          <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                        </div>
                        <div class="pull-right pad-left-right">
                          <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div class="panel-body">



            <div class="row" style="padding: 10px;">
                <!-- <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts" (click)="onContactClick(contact)" >
                    <div class="pull-left">
                        <h4 class="list-group-item-heading"><b>{{contact.name}}</b></h4>
                    </div>
                    <span class="pull-right">
                        <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 50px;">
                    </span>
                </a> -->

                <cms-contact-item 
                *ngFor="let contact of contacts | contactsFilter: this.term ; let i = index"
                [displayedContact]="contact"
                [index]="i"
                
                ></cms-contact-item>
            </div> 



 







            
        </div>
    </div>  
</div>